* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

header, .logo, .paginas, .botoes{
    display: flex;    
    font-family: 'Inter', sans-serif;           
}

header {
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 112px;
}

.logo {
    align-items: center;
    gap: 8px;
}

.paginas {
    font-size: 16px;
    color: #667085;    
    gap: 32px;
}

.botoes {
    gap: 30px;
    align-items: center;
    font-size: 16px;
}

#optimus {
    font-size: 18px;
    color: #3A404E;
}

#entrar {
    color: #667085;
}

#cadastro {
    background-color: #8E2424;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
}

.aboutUs {    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 411px 203px 426px;        
    /*background-color: aqua; */
}

#aboutUs-span {    
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 24px;        
}


h1 {
    font: 600 44px inter, 'sans serif';   
    width: 600px;
    color: #101828;
    text-align: center;
}

#explicacao {
    width: 790px;
    font-size: 20px;
    padding-top: 36px;
    text-align: center;
    color: #667085;              
}

.metricas {
    display: flex;
    justify-content: space-between;   
    gap: 32px; 
    padding: 0px 107px 0px 107px;
}

.first, .second, .third, .fourth {
    display: flex;
    flex-direction: column;    
}

.number {
    font: 600 60px inter, 'sans serif';    
    color: #8E2424;    
    padding-bottom: 12px;
}

h2 {
    font: 500 18px inter, 'sans serif';
    color: #101828;    
    padding-bottom: 8px;
}

.p-metricas {
    font: 400 16px inter, 'sans serif';
    color: #667085;         
}

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#vagas {    
    font: 500 14px inter, 'sans serif';    
    padding: 4px 12px;
    margin-top: 200px;    
    border-radius: 16px;
    background-color: rgba(142, 36, 36, 0.05);    
}

#searching {
    font-size: 36px;
}

.p-talentos {
    font: 400 20px inter, 'sans serif';
    color: #667085;
    padding-bottom: 44px;
}

.colorRed {
    color: #8E2424;
}


